@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{

    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Ubuntu', sans-serif;

}

main{
    
    height: 100vh;
    width: 100%;
    background-color: #f5f5e3;
    padding-top: 5%;
    padding-bottom: 5%;

}

.perguntas{

    width: 96%;
    padding: 02%;

    display: flex;
    flex-direction: column;

    /* Se eu escolhi coluna, o justify-content mexe na coluna
       Se eu escolhi linha, o justify-content mexe na linha */
    justify-content: space-around;

    /*space-around: ele tenta igualar os espaços */
    /*space-between: ele tenta igualar os espaços mas não nas pontas*/


    /* Se eu escolhi coluna, o justify-content mexe na linha
       Se eu escolhi linha, o justify-content mexe na coluna */
    align-items: center;

}

.inputs{

    display: flex;
    justify-content: center;
    gap: 4%;

    margin-top: 2%;
    margin-bottom: 2%;

    width: 90%;

}

.inputs > textarea{

    resize: none;
    width: 26%;
    padding: 1%;

    border-radius: 10px;

    /* min-width: 150px; */

    max-width: 150px;
    max-height: 30px;

    animation: trocar-cor 2s linear infinite;

}

.perguntas > button{

    margin-top: 1%;
    width: 20%;
    max-width: 80px;
    min-height: 25px; 
    border-radius: 10px;
    transition: 2s;

    background-color: #fff;
    color: rgb(0, 0, 0);
    
    animation: trocar-cor 2s linear infinite;

}

.perguntas > button:hover{

    transition: 2s;

    color: #fff;
    background-color: rgb(0, 0, 0);
    
    animation: 2s rotate linear;

}

@keyframes rotate{
    
    0%{

        transform: rotate(0deg);
        scale: 100%;
        box-shadow: 0px 0px 1px 1px red;

    }

    25%{

        box-shadow: 0px 0px 10px 1px blue;

    }

    50%{

        scale: 5%;
        box-shadow: 0px 0px 10px 1px yellow;

    }

    75%{

        box-shadow: 0px 0px 10px 1px green;

    }

    100%{

        transform: rotate(360deg);
        scale: 100%;
        box-shadow: 0px 0px 10px 1px red;

    }

}

@keyframes trocar-cor {

    0%{

        box-shadow: 0px 0px 1px 1px red;

    }
    
    25%{

        box-shadow: 0px 0px 1px 1px blue;

    }
    
    50%{

        box-shadow: 0px 0px 1px 1px yellow;

    }

    75%{

        box-shadow: 0px 0px 1px 1px green;

    }

    100%{

        box-shadow: 0px 0px 1px 1px red;

    }

}

.respostas{

    width: 96%;
    padding: 02%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.cards{

    max-width: 400px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2%;
    gap: 2%;
    align-items: center;
}

.card{

    margin-top: 02%;
    max-width: 200px;
    padding: 2%;
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    color: #000;
    animation: trocar-cor 2s linear infinite;

}