@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); 

*{

    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;

}

h3{

    filter: drop-shadow(0px 0px 3px #ababab);
    padding: 3%;
    background-color: #fff;
    border-radius: 5px;

}

body{

    height: 100vh;
    width: 100%;
    background: radial-gradient(50vw, rgb(204, 204, 204), rgb(211, 218, 221));

}

main{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    width: 90%;

}

.inputs-area{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    width: 90%;
    background-color: #d6e6e4;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #b9f1eb;

}

.getDatas-area{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5%;
    width: 90%;

}

.getDatas-area > textarea{

    outline: none;
    border: none;
    resize: none;
    border-radius: 10px;
    padding: 3%;
    min-width: 30%;
    margin: 2%;
    font-size: 0.7rem;

}

.inputs-area > button{

    padding: 05%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    transition: 1s;
    box-shadow: 0px 0px 5px 1px #fff;

}

.inputs-area > button:hover{

    background-color: #000;
    color: #fff;
    transition: 1s;
    scale: 110%;
    box-shadow: 0px 0px 5px 5px #000;

}

.answer-area{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    width: 90%;
    margin-top: 05%;
    background-color: #d6e6e4;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #b9f1eb;

}

table{

    width: 100%;
    font-size: 0.8rem;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    margin-top: 5%;

} 

table > tbody > tr > th{

    padding: 2%;
    width: 30%;
    border-radius: 5px;
    background-color: #000;
    color: #fff;

}

table > tbody > tr > td{

    padding: 2%;
    width: 33%;
    border-radius: 5px;
    color: #000;
    background-color: #fff;

}

@media(min-width: 750px){

    h3{

        padding: 1.5%;

    }

    .getDatas-area > textarea{

        padding: 1.5%;

    }

    .inputs-area > button{

        padding: 3%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;

    }

}