@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{

    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Ubuntu', sans-serif;

}

main{
    
    min-height: 100vh;
    width: 100%;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.perguntas{

    width: 96%;
    padding: 02%;

    display: flex;
    flex-direction: column;

    /* Se eu escolhi coluna, o justify-content mexe na coluna
       Se eu escolhi linha, o justify-content mexe na linha */
    justify-content: space-around;

    /*space-around: ele tenta igualar os espaços */
    /*space-between: ele tenta igualar os espaços mas não nas pontas*/


    /* Se eu escolhi coluna, o justify-content mexe na linha
       Se eu escolhi linha, o justify-content mexe na coluna */
    align-items: center;

    > h2{

        color: #fff;

    }

}

.inputs{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;

    margin: 2% 0;

    width: 90%;

}

.inputs > input{

    padding: 5px;

    border-radius: 10px;

    /* min-width: 150px; */

    width: 150px;
    height: 20px;
    margin: 5px 0;

}

.inputs > select{

    padding: 5px;

    border-radius: 10px;

    /* min-width: 150px; */

    width: 160px;
    height: 30px;
    margin: 5px 0;

}

.perguntas > button{

    margin-top: 1%;
    width: 100px;
    height: 35px; 
    border-radius: 10px;
    transition: .2s;

    color: #fff;    
    background-color: transparent;
    border: 2px solid #ffffff;

}

.perguntas > button:hover{

    transition: .1s;

    cursor: pointer;
    color: #fff;    
    background-color: rgba(149, 149, 149, 1);
    border: 2px solid #ffffff;

}

.respostas{

    width: 96%;
    padding: 02%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid #fff;
    max-width: 450px;
    border-radius: 10px;
    margin: 15px 0;
    padding: 2% 0;
    color: #fff;

}

.cards{

    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2%;
    gap: 2%;
    align-items: center;

}

.card{

    margin-top: 02%;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    color: #fff;

}